<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="coverletter">
      <ion-icon name="person"></ion-icon>
      <ion-label>Cover Letter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="skills">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="education">
      <ion-icon name="send"></ion-icon>
      <ion-label>Education</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hobbies">
      <ion-icon name="send"></ion-icon>
      <ion-label>Hobbies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="send"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
